*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;

  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:1000px
}
